*{
    margin: 0px;
    padding: 0px;
}
.mt-6{
    margin-top: 100px;
}
.cont{
    
    text-align: center;

}
.cont button{
    color: white;
}
.cont img{
    margin-top: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

h1{
    color: white;
}

#logo img{
    float: left;
    margin: 5px 0px 0px 20px;
    width: 100px;
    height: 35px;
}
.banner{
    background-image:linear-gradient(rgba(100, 100, 100, 0.6),rgba(100, 100, 100, 0.6)), url(background.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top;
}
ul{
    list-style-type: none;
    margin-right: 7px;
}

ul li{
    display:inline-block ;
    margin-top: 15px;
}
ul li a{
    color:white;
    font-weight: 500;
    padding: 5px 20px;
    transition: 0.6s ease;
}


ul li a:hover{
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}

ul li.active a{
    background-color: red;
    color: white;
    border-radius: 5px;
}

.social-media{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .social-media ul{
    list-style: none;
  }
  
  .social-media ul li{
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
  }
  
  .social-media img{
    width: 40px;
    height: 40px;
  }

/*---------- 6. About area css starts---------------*/

.stack {
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
    display: inline-block;
}

.stack img {
    background: #fff;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px;
    width: 100%;
    -moz-box-shadow:    1px 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    box-shadow:         1px 1px 2px rgba(0,0,0,.25);
}

.about-text-left {
    margin-top: 90px;
}

#about{
    height: 100%;
}

.about-text-left p {
    text-align: right;
    font-size: 15px;
    color: #fafafa;
    margin-bottom: 20px;
}



.about-right h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about-text-right h3 {
    color: #fafafa;
    margin-bottom: 45px;
}

.about-text-right h6 {
    color: #333333;
}

.about-right p span {
    color: #262626;
    font-weight: bold;
    letter-spacing: 2px;
}

.about-list{
    list-style: none;
}

.about-right .about-list li {
    margin-bottom: 10px;
}
.about-right .about-list li .title {
    position: relative;
    margin-right: 10px;
    padding-bottom: 1px;
    color: #a1a1a1;
    font-weight: 700;
}
.about-right .about-list li .title:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #e1e1e1;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.about-right .about-list li .title:after {
    position: absolute;
    content: ':';
    right: -8px;
}
.about-right .about-list li .value {
    position: relative;
}
.about-right .about-list li .value:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
}

/*-------About area css ends--------------*/

.skills-area .section-title h2{
    color: #fff;
}

.skills-area{
    position: relative;
    background-image: url(../images/skills/1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 1;
}
.skills-area:before{
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.skillbar {
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    display: block
}

.skillbar .skillbar-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
}

.skillbar-bar {
    background-color: #fff;
    width: 100%;
    height: 15px;
    border-radius: 40px;
}

.skillbar-bar .skillbar-child {
    width: 0;
    height: 100%;
    background-color: #00B0DC;
    -webkit-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    border-radius: 5px;
}

/*--------- 10. Statistic area starts -----------*/

.statistic-area .item{
    margin-bottom: 30px;
    text-align: center;
}

.statistic-area .item .fa{
    color: rgb(8, 8, 8);
    font-size: 40px;
}

.statistic-area .item p{
    color: rgb(14, 13, 13);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.statistic-area .item h2 {
    color: #00B0DC;
    font-weight: 800;
    font-size: 45px;
    margin-top: 10px;
}

/*----------------Statistic area ends-------------------*/
.footer-area {
    background: #171717;
    color: #ffffff;
    padding: 30px 0;
}
.footer-area a{
    color: #00B0DC;
}
.footer-area a:hover{
    color:red;
    text-decoration: none;
}