.top-right-part:hover{
    background-color: rgba(100, 100, 100, 0.5)
}
.left-nav{
    height: 85vh;
}
.left-nav hr{
    width: 250%;
}

.display{
    height: 100vh;
}

#dd{
    margin-right: 150px;
}