.container-fluid{
    box-shadow: 0 1.5px 1px -1px rgba(0,0,0,.2);
}

#btn{
    padding: .5rem 5rem !important;
    border: 2px solid red;
}
#black{
    padding-top: 25px;
    width: 100%;
    height: 120px;
    color: whitesmoke;
    background-color: rgb(19, 18, 18);
    text-align: center;
}